@font-face {
    font-family: Pixeboy;
    src: url(./../fonts/Pixeboy-z8XGD.ttf);
  }

body{
    background-color: #080A17;
}

.vector_bottom{
    z-index: 0;
    position: absolute;
    bottom: 0;
}
.vector_bottom img{
    width: 100%;
}

.stars{
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.text-box{
/* box-sizing: border-box; */
text-align: center;
position: absolute;
width: 60vw;
height: 30vh;
left: 20vw;
top: 15vh;
color:white;
padding: 10px;
font-family: 'Pixeboy';
background: #080A17;
border: 1.5px solid #FFFFFF;
border-radius: 35px;
}

.planet__red{
position: absolute;
top: 5vh;
right:12vw;
}
.planet__red img{
    height: 10vh;
}

/* .hint{
    position: absolute;
    font-family: 'Pixeboy';
    font-size: 30px;
    top: 25px;
    right: 11px;
} */

.planet__yellow{
    position: absolute;
    left: 7vw;
    top: 15vh;
}
.planet__purple{
position: absolute;
width: 74px;
height: 91.25px;
right: 10vw;
top: 35vh;
}
.spaceship{
    position:absolute;
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    position: absolute;
    /* width: 60.05px;
    height: 60px; */
    bottom: 10px;
    left: 169.01px;
    top:500px;
    
}
.spaceship img{
    height: 8vh;
}

.ammo1{
    position: absolute;
    left: 20vw;
    bottom: 19vh;
}

/* .submit{
    position: absolute;
    bottom: 10vh;
    left: 50vw;
} */

.text-box-Small{
/* box-sizing: border-box; */
position: absolute;
width: 400px;
height: 51px;
left: 82vh;
top: 400px;

background: #080A17;
border: 4px solid #FFFFFF;
border-radius: 13px;
}
.texts{
border-radius: 5px;    
width:388px;
position:relative;
box-shadow: 3px 3px;
font-family: 'Pixeboy';
font-style: normal;
font-weight: 400;
font-size: 40px;
text-align: center;
justify-content: center;
color: #737373;
}
.enemy{
    width: 50px;
    height:50px;
}
.enemies{
  position: absolute;
  top: 550px;
  display: grid;
  row-gap: 6px;
  /* left: 950px; */
}
.enemies1{
  position: absolute;
  top: 400px;
  display: grid;
  row-gap: 6px;
}
.submitbtn{
    position: absolute;
    left:41vw;
    top:600px;
}