@font-face {
    font-family: Pixeboy;
    src: url(./../fonts/Pixeboy-z8XGD.ttf);
  }
  
@font-face {
    font-family: Arcade;
    src: url(./../fonts/ARCADECLASSIC.TTF);
}
body{
    width: 100vh;
    background-color: #080A17;
    overflow-x: hidden;
}

.vector_bottom{
    z-index: 0;
    position: absolute;
    top: 115vh;
    width: 100vw;
}
.vector_bottom img{
    width: 105vw;
}

.stars{
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.text-box{
    position: absolute;
    padding: 40px;
    width: 35vw;
    height: auto;
    left: 15vw;
    top: 15vh;
    color:white;
    font-size: 2.3vh;
    font-family:'Titillium Web';
    background: #080A17;
    border: 1.5px solid #FFFFFF;
    border-radius: 35px;
}

.planet__red{
    position: absolute;
    top: 5vh;
    right:12vw;
    cursor: pointer;
    transition: transform 0.5 ease-in-out;
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
    transition: transform 1s ease;
}
.planet__red:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
.planet__red img{
    height: 10vh;
}

.coins{
    position: absolute;
    top: 4vh;
    right: 4vw;
}
.coins img{
    height: 6vh;
}

.planet__yellow{
    position: absolute;
    left: 7vw;
    top: 15vh;
}
.planet__purple{
position: absolute;
width: 74px;
height: 91.25px;
right: 10vw;
top: 35vh;
}

.spaceship{
    position:absolute;
    display: flex;
    justify-content: space-between;
    column-gap: 5vw;
    left: 10vw;
    top: 70vh;
}
.spaceship img{
    height: 8vh;
}
#spaceship2{
    position: absolute;
    transform: translateX(8px);
    z-index: 2;
}
#spaceship1{
    z-index: 2;
    animation: flicker 700ms infinite;
}
@keyframes flicker {
    from {opacity: 0;}
    to {opacity: 1;}
}

.ammo{
    z-index: 0;
    animation: move 1s infinite;
    top: 73vh;
    position: absolute;
}
@keyframes move {
    from {left: 11vw;}
    to {left: 70vw;}
}
.ammo img{
    width: 30px;
}

.text-box-Small{
position: absolute;
width: 400px;
height: 51px;
left: 37vw;
top: 145vh;
background: #080A17;
border: 4px solid #FFFFFF;
border-radius: 13px;
}

.texts{
border-radius: 5px;    
width:390px;
position:relative;
box-shadow: 3px 3px;
font-family: 'Pixeboy';
font-style: normal;
font-weight: 400;
font-size: 40px;
text-align: center;
color: #737373;
}

.enemy{
    width: 50px;
    height:50px;
}
.enemies{
  position: absolute;
  top: 70vh;
  display: grid;
  row-gap: 6px;
}
.enemies1{
  position: absolute;
  top: 45vh;
  
  display: grid;
  row-gap: 6px;
}

.submitbtn{
    position: fixed;
    margin: auto;
    cursor: pointer;
    transition: transform 0.5 ease-in-out;
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
    transition: transform 1s ease;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    bottom: 30px;
}

.submitbtn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
.sample{
    position: absolute;
    display:grid;  
    height: auto;
    width: 16vw; 
    right: 20vw;
    top: 15vh;
    font-family: 'Titillium Web';
    font-size: 2.3vh;
    background-color: #080A17;
    padding: 40px;
    border: 1px solid white;
    border-radius: 35px;
}

.sInput{
    padding-left: 15px;
    color: white;
    background-color:transparent;
    width: 15vw;
    text-align: centre;
    line-height: 3vh;
    justify-content: center;
}   
.sOutput{
    padding-left: 15px;
    color: white;
    margin-top: 3px;
    background-color:transparent;
    width: 15vw;
    text-align: centre;
    line-height: 3vh;
}
.input{
    top: 85vh;
    left: 37.2vw;
    font-family: 'Titillium Web';
    font-size: 2.5vh;
    background-color: #080A17;
    width: 320px;
    padding: 40px;
    color: white;
    position: absolute;
    border: 1px solid white;
    border-radius: 12px;
}
.headings{
    font-size:1rem;
}

.line{
    background-color: white;
    height: 2px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 16vw;
}



@media screen and (min-width: 1000px) and (max-width:1200px) {
    .vector_bottom{
        top: 120vh;
        width: 90%;
    }
    .vector_bottom img{
        width: 50vw;
    }
    .stars img{
        width: 110vw;
    }
    .text-box-Small{
        left: 32vw;
    }
    body{
        overflow: hidden;
    }
}


