@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  /* background: linear-gradient(180deg, #080A17 12.26%, #0E1024 14.79%, #558EF9 20.57%, #558EF9 25.28%, #000000 39.83%); */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 30px 10vw;
}

.nav-logo {
  display: flex;
  gap: 25px;
  align-items: center;
}

.logo {}

.logo img {}

.nav-logo-text {}

.nav-logo-text p {}

.nav-logo-text-sm {}

.nav {}

.nav li {}

.nav a {}

.content {
  height: 70vh;
  background-image: url(meteors.svg);
}