@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@font-face {
  font-family: Pixeboy;
  src: url(/assets/fonts/Pixeboy-z8XGD.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  background: none;
  text-decoration: none;
  font-family: DotGothic16;
}

p {
  margin: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 8vw;
  z-index: 2;
}

.nav-logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* .logo {}

.logo img {} */

.nav-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  text-shadow: 0px 0px 10px #FFFFFF;
}

.nav-logo-text-sm {
  letter-spacing: 2px;
  font-size: smaller;
}

.nav-logo-text p {
  margin: 0;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: #367B80;
}

.nav li {
  border: #367B80 2px solid;
  border-radius: 40px;
  padding: 2px 33px;
  color: #367B80;
  font-size: 18px;
  cursor: pointer;
  /* font-family: ; */
}

.nav li:hover {
  background-color: #1c1f3389;
}

.nav a {
  text-decoration: none;
  color: #367B80;
}

.landing_section {


  height: 110vh;
  background-color: #080A17;
  background-image: url(/assets/images/homepage/starts.svg);
  background-size: cover;
  color: white;
  background-position: 50% 50%;
  position: relative;
}


.title {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  gap: 20px;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
}

.title_img img {
  width: 65vw;
}

/* .sparkle-img {} */

.title_sub {
  font-size: 22px;
  font-family: Pixeboy;
  font-family: 'Pixeboy';
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  line-height: 102px;
  color: #222052;
  -webkit-text-stroke: 0.8px #6467EC;
}

.register {
  cursor: pointer;
}

.register img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.register img {
  transition: transform 0.5 ease-in-out;
  width: 20vw;
  margin-top: 30px;

  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  transition: transform 1s ease;
}

.bottom_vector {
  z-index: 0;
  position: absolute;
  bottom: -150px;
}

.bottom_vector img {
  width: 100%;
}

.rocket {
  position: absolute;
  transform: scale(.6) translateY(840px) translateX(80px);
  z-index: 2;
}

.rocket img {
  width: 100px;
}

#rocket-2 img {
  height: 100px;
  transform: translateX(6.2px) translateY(-.6px);
}

#rocket-1 {
  animation: flicker 500ms infinite;
}

@keyframes flicker {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.meteors {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.meteors img {
  height: 20vh;
}

.yellow_planet {
  position: relative;
  top: 22vh;
  left: 2vw;
}

.yellow_planet img {
  height: 7vh;
}

.purple_planet {
  position: absolute;
  top: 21vh;
  right: 12vw;
}

.purple_planet img {
  height: 11vh;
}

.planet_red {
  position: absolute;
  top: 37vh;
  right: 5vw;
}

.sparkle-img1 {
  position: absolute;
  left: 15vw;
  top: 43vh;
}

.sparkle-img1 img,
.sparkle-img2 img {
  height: 5vh;
}

.sparkle-img2 {
  position: absolute;
  top: 31vh;
  left: 44vw;
}

.sparkle-img3 {
  position: absolute;
  right: 15vw;
  top: 42vh;
}

.sparkle-img3 img {
  height: 8vh;
}


.about_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about_b {
  width: 100%;
  height: 50px;
}

.about_top_b1 {
  width: 100%;
  height: 150px;
  background-color: #080A17;
}

.about_top_b2 {
  background-color: #12152E;
}

.about_top_b3 {
  background-color: #0E193E;
}

.about_top_b4 {
  background-color: #102855;
}

.about_top_b5 {
  background-color: #1C3A72;
}

.about_top_b6 {
  background-color: #274F99;
}

.about_top_b7 {
  background-color: #3262BC;
}

.about_top_b8 {
  background-color: #3E74DA;
}

.about_top_b9 {
  background-color: #4B87F4;
}

.about_section_main {
  width: 100%;
  z-index: 2;
  height: 1220px;
  background-image: url(/assets/images/homepage/sky.svg);
  background-size: cover;
}

.about_header {
  font-family: 'Pixeboy';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 82px;
  color: #FFDCBD;
  margin-top: 40px;
}

.about_soil_b {
  width: 100%;
  z-index: 2;
  height: 400px;
  background-image: url(/assets/images/homepage/soilmario.svg);
  /* background-size: contain; */
  background-size: cover;
}

.about_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about_content {
  max-width: 70%;
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;
  text-align: center;
  margin-top: 50px;
  color: #FFFFFF;
}

.about_points_container {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

.about_points {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.about_points p {
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 39px;

  color: #FFFFFF;
}

.about_points div {
  margin-top: 5px;
  min-width: 100px;
  aspect-ratio: 160/75;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/homepage/about_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.mario_container {
  position: relative;
  z-index: 3;
  width: 100%;
}

.lefttunnel {
  position: absolute;
  top: -125px;
  left: 2vw;
}

.lefttunnel img {
  height: 38vh;
}

.bushes {
  position: absolute;
  top: -39px;
  left: 8.2vw;
}

.bushes img {
  height: 6.5vh;
}

.ladder {
  position: absolute;
  left: 85vw;
  top: -192px;
}

.brickcoin {
  position: absolute;
  left: 30vw;
  top: -350px;
}

.brickcoin img {
  height: 18vh;
}

.mario {
  position: absolute;
  top: -55px;
  left: 12vw;
}

.mario img {
  height: 9vh;
}

.brickque {
  position: absolute;
  left: 60vw;
  top: -200px;
}

.brickque img {
  height: 7vh;
}

.righttunnel {
  position: absolute;
  top: -200px;
  left: 78vw;

}

.righttunnel img {
  height: 50vh;
}

.brickcloud {
  position: absolute;
  left: 87vw;
  top: -500px;
}

.brickcloud img {
  height: 15vh;
}

/* FAQ */
.faq {
  padding: 6rem 0;
  background-color: #080A17;
  font-family: "DotGothic16";
}

.faq .accordion-item {
  background-color: transparent;
  margin: 0.2rem 0;
}

.faq .accordion-header {
  border: #6053fd double 0.3rem;
}

.faq h3 {
  font-family: 'Pixeboy';
  font-weight: 400;
  font-size: 5rem;
  margin: 3rem 0;
  line-height: 4rem;
  text-align: center;
  color: #9991FF;
}

.faq a {
  text-decoration: none;
  color: white;
}

.faq .accordion-button.collapsed::after {
  background-image: url("../images/homepage/plus.svg");
}

.faq .accordion-button:not(.collapsed)::after {
  background-image: url("../images/homepage/dash.svg");
}

.faq .accordion-button {
  background: #6053FD;
  color: #FFFFFF;
}

.faq .accordion-body {
  background-color: #231E5E;
  line-height: 2rem;

  color: #FFFFFF;
}