* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bottompart{
    width: 100vw;
    height: 100vh;
    position: relative;

    .soil{
        position: absolute;
        bottom: -10px;
    }

    .soil img{
        height: 65px;
    }
    
    .submitwood{
        position: absolute;
        bottom: 40px;
        left: 80vw;
    }

    .submitwood img{
        height: 150px;
    }
}

    @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: url(../images/sky.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .clouds-1,
    .clouds-2,
    .clouds-3 {
        background: url(../images/homepage/cloud_about.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 6rem;
        width: 6rem;
    }

    .clouds-1 {
        position: absolute;
        top: 2rem;
        left: -2rem;
        width: 8rem;
    }

    .clouds-2 {
        position: absolute;
        top: 1rem;
        width: 9rem;
        left: 30rem;
    }

    .clouds-3 {
        position: absolute;
        top: 4rem;
        width: 6rem;
        left: 60rem;
    }

    .hintclouds {
        background: url(../images/homepage/hintCloud.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 13em;
        width: 12rem;
        position: absolute;
        top: 2rem;
        right: 9rem;
    }

    .questionBox {
        background: url(../images/homepage/quebox.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 6rem;
        left: 7rem;
        width: 48rem;
        height: 7.5rem;

        .title {
            position: relative;

            p {
                font-family: "DotGothic16";
                width: 35rem;
                position: absolute;
                left: 7rem;
                top: 1.5rem;
            }
        }
    }

    .videoplayer {
        background: url(../images/homepage/videoplayer.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 20rem;
        width: 15rem;
        position: absolute;
        right: 7rem;
        top: 15rem;
    }
