@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@font-face {
  font-family: Pixeboy;
  src: url(./../fonts/Pixeboy-z8XGD.ttf);
}
body {
  margin: 0;
  padding: 0;
  color: white;
}

p {
  margin: 0;
}
.cwp_q_container{
  display: none;
}
.pacman_game {
  min-height: 100vh;
  width: 100vw;
  background-color: #080a17;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
}
.header_box {
  z-index: 1;
  padding: 30px;
  background-image: url(../images/pacman/header_background.svg);

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.header_box p {
  font-family: "Pixeboy";
  font-style: normal;
  font-weight: 400;
  font-size: 35.37px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.022em;
  color: #000000;
}
.header .pacman_animation {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}
.main_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}
.main_left .card {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 300px;
  border: #ff8c8c 3px solid;
  border-radius: 20px;
  padding: 20px 20px 50px 20px;
  box-shadow: 0px 0px 5px #fff;
}
.main_left .card:nth-child(2) {
  border: #69cada 2px solid;
}
.main_left .card img {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.main_left .card_content {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 18.4456px;
  line-height: 150%;
  /* or 28px */
  letter-spacing: -0.022em;
  color: #ffffff;
}
.main_right .crossword_container {
  position: relative;
}
.main_right .crossword_container .left_img {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.main_right .crossword_container .left_img img {
  width: 30vw;
}

.final__path {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.final__path::after {
  content: "";
  position: absolute;
  display: block;
  border-top: 12px dotted #fdffc8;
  color: white;
  width: 100%;
  top: 50%;
  margin-top: -6px;
}

.final__pacman {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: -20%;
  -webkit-animation: final__moveForward 5s linear infinite;
          animation: final__moveForward 5s linear infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.final__pacman::before,
.final__pacman::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: solid 30px yellow;
  margin-top: -30px;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-animation: final__mouthTop 0.7s ease infinite;
          animation: final__mouthTop 0.7s ease infinite;
}

.final__pacman::after {
  border-color: yellow;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-animation: final__mouthBottom 0.7s ease infinite;
          animation: final__mouthBottom 0.7s ease infinite;
}

.final__ghost {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 20%;
  margin-top: -35px;
  background: red;
  height: 70px;
  width: 60px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  -webkit-animation: final__moveForward 5s linear infinite, final__colourSwap 0.5s linear infinite;
          animation: final__moveForward 5s linear infinite, final__colourSwap 0.5s linear infinite;
}

/* using these for eyes */
.final__ghost::before,
.final__ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 25px;
  width: 20px;
  border-radius: 100%;
  top: 15px;
  left: 4px;
}

.final__ghost::after {
  left: 28px;
}

.final__eyes::before,
.final__eyes::after {
  content: "";
  position: absolute;
  background: blue;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  top: 25px;
  left: 5px;
  z-index: 99;
  -webkit-animation: final__peeperLeft 0.7s linear infinite;
          animation: final__peeperLeft 0.7s linear infinite;
}

.final__eyes::after {
  left: 30px;
  -webkit-animation: final__peeperRight 0.7s linear infinite;
          animation: final__peeperRight 0.7s linear infinite;
}

.final__skirt {
  position: absolute;
  height: 0;
  width: 0;
  border: solid 10px #333;
  border-top-color: transparent;
  bottom: -10px;
}

.final__skirt::after,
.final__skirt::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: solid 10px #333;
  border-top-color: transparent;
  bottom: -10px;
  left: 10px;
}

.final__skirt::after {
  border-color: #333;
  border-top-color: transparent;
  bottom: -10px;
  left: 30px;
}

@-webkit-keyframes final__moveForward {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes final__moveForward {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes final__mouthTop {
  50% {
    transform: rotate(44deg);
  }
}
@keyframes final__mouthTop {
  50% {
    transform: rotate(44deg);
  }
}
@-webkit-keyframes final__mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}
@keyframes final__mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}
@-webkit-keyframes final__peeperLeft {
  0%, 100% {
    left: 5px;
  }
  50% {
    left: 10px;
  }
}
@keyframes final__peeperLeft {
  0%, 100% {
    left: 5px;
  }
  50% {
    left: 10px;
  }
}
@-webkit-keyframes final__peeperRight {
  0%, 100% {
    left: 30px;
  }
  50% {
    left: 38px;
  }
}
@keyframes final__peeperRight {
  0%, 100% {
    left: 30px;
  }
  50% {
    left: 38px;
  }
}
@-webkit-keyframes final__colourSwap {
  50% {
    background: hotpink;
  }
}
@keyframes final__colourSwap {
  50% {
    background: hotpink;
  }
}/*# sourceMappingURL=pacman.css.map */


